PLX/WebLayerProject/Service References/ServiceCategoria/ServiceCategoria.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayer.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayer.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDto" nillable="true" type="tns:CategoriaDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDto" nillable="true" type="tns:ArrayOfCategoriaDto" />
  <xs:complexType name="CategoriaDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnunciosDto" nillable="true" type="tns:ArrayOfAnuncioDto" />
      <xs:element minOccurs="0" name="CategoriasDto" nillable="true" type="tns:ArrayOfCategoriaDto" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDto" nillable="true" type="tns:CategoriaDto" />
  <xs:complexType name="ArrayOfAnuncioDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AnuncioDto" nillable="true" type="tns:AnuncioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncioDto" nillable="true" type="tns:ArrayOfAnuncioDto" />
  <xs:complexType name="AnuncioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoriaDto" nillable="true" type="tns:CategoriaDto" />
      <xs:element minOccurs="0" name="ComentariosDto" nillable="true" type="tns:ArrayOfComentarioDto" />
      <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Preco" type="xs:double" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioDto" nillable="true" type="tns:UsuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AnuncioDto" nillable="true" type="tns:AnuncioDto" />
  <xs:complexType name="ArrayOfComentarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ComentarioDto" nillable="true" type="tns:ComentarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComentarioDto" nillable="true" type="tns:ArrayOfComentarioDto" />
  <xs:complexType name="ComentarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnuncioDto" nillable="true" type="tns:AnuncioDto" />
      <xs:element minOccurs="0" name="Conteudo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioDto" nillable="true" type="tns:UsuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ComentarioDto" nillable="true" type="tns:ComentarioDto" />
  <xs:complexType name="UsuarioDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnunciosDto" nillable="true" type="tns:ArrayOfAnuncioDto" />
      <xs:element minOccurs="0" name="AvaliacoesDto" nillable="true" type="tns:ArrayOfAvaliacaoDto" />
      <xs:element minOccurs="0" name="ComentariosDto" nillable="true" type="tns:ArrayOfComentarioDto" />
      <xs:element minOccurs="0" name="Contato" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Senha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefone" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioDto" nillable="true" type="tns:UsuarioDto" />
  <xs:complexType name="ArrayOfAvaliacaoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AvaliacaoDto" nillable="true" type="tns:AvaliacaoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAvaliacaoDto" nillable="true" type="tns:ArrayOfAvaliacaoDto" />
  <xs:complexType name="AvaliacaoDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nota" type="xs:double" />
      <xs:element minOccurs="0" name="UsuarioDto" nillable="true" type="tns:UsuarioDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvaliacaoDto" nillable="true" type="tns:AvaliacaoDto" />
</xs:schema>