PLX/WebLayerProject/Service References/ServiceAnuncio/ServiceAnuncio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51360/ServiceAnuncio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusinessLayer.DTO" />
  <xs:element name="SalvarAnuncio">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IdUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
        <xs:element minOccurs="0" name="Descricao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Preco" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SalvarAnuncioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusinessLayer.DTO" minOccurs="0" name="ListarTodosResult" nillable="true" type="q1:ArrayOfAnuncioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessLayer.DTO" minOccurs="0" name="buscarPorIdResult" nillable="true" type="q2:AnuncioDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>